global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - blackbox-exporter.yml
  - embedded-exporter.yml
  - google-cadvisor.yml
  - jaeger-v2.yml
  - node-exporter.yml
  - rules-example.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alert-manager:9093

scrape_configs:
  - job_name: alertmanager
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /alertmanager/metrics

  - job_name: blackbox # To get metrics about the exporter itself
    # metrics_path: /metrics # default
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /blackbox/metrics

  - job_name: blackbox-http # To get metrics about the exporter’s targets
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - http://prometheus.io # Target to probe with http
          - https://prometheus.io # Target to probe with https
          - http://example.com:8080 # Target to probe with http on port 8080
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115 # The blackbox exporter’s real hostname:port. For Windows and macOS replace with - host.docker.internal:9115

  - job_name: cadvisor
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /cadvisor/metrics

  - job_name: jaeger-all-in-one
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /jaeger/metrics

  - job_name: loki
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /loki/metrics

  - job_name: mailpit
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /mailpit/metrics

  - job_name: node
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /node/metrics

  - job_name: prometheus
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /prometheus/metrics

  - job_name: rabbitmq
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /rabbitmq/metrics

  - job_name: speedtest-exporter
    scrape_interval: 3m
    scrape_timeout: 1m
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /speedtest/metrics

  - job_name: techstack
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    scrape_interval: 5s # poll very quickly for a more responsive demo
    static_configs:
      - targets:
          - nginx:9080
    metrics_path: /techstack/metrics
